.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: auto;

  .content {
    max-width: 1234px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;

    .image {
      width: 770px;
      height: 240px;
      margin: 0 auto;
      margin-top: 3.5rem;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 1rem;
      }
    }

    .title {
      margin: 4rem 0;
    }

    .body {
      text-align: left;
      font-size: 1.5rem;

      p {
        margin: 0.5rem 0;
      }

      ul {
        margin-left: 2.5rem;

        li {
          line-height: 2rem;
        }
      }

      a {
        color: var(--purple-500);
        transition: 0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    .button {
      display: block;
      margin: 7rem auto 4.735rem;

      font-size: 2rem;
      font-weight: bold;
      color: var(--gray-50);
      background-color: var(--purple-500);
      padding: 1rem 0 1rem;
      max-width: 23.125rem;
      width: 100%;
      border: 0;
      border-radius: 0.6rem;
      transition: 0.2s;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 4px var(--gray-300), 0 0 0 5px var(--purple-500);
      }
    }
  }
}
