.container {
  background-color: var(--gray-300);
  padding-top: 3.75rem;

  .content {
    max-width: 1170px;
    margin: 0 auto;

    .cards {
      margin-top: 3.75rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.875rem;
    }
  }
}
