.container {
  background-color: var(--gray-300);
  padding-top: 3.75rem;

  .content {
    max-width: 1234px;
    margin: 0 auto;
    padding: 0 2rem 4.735rem;

    h1 {
      display: flex;
      align-items: center;

      svg {
        margin-right: 1rem;
        stroke-width: 0.15rem;
        stroke: var(--purple-500);
        width: 42px;
        height: 42px;
      }
    }

    .cards {
      margin: 3.75rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.875rem;
    }

    .button {
      display: block;
      margin: 0 auto;

      font-size: 2rem;
      font-weight: bold;
      color: var(--gray-50);
      background-color: var(--purple-500);
      padding: 1rem 0 1rem;
      max-width: 23.125rem;
      width: 100%;
      border: 0;
      border-radius: 0.6rem;
      transition: 0.2s;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 4px var(--gray-300), 0 0 0 5px var(--purple-500);
      }
    }
  }
}

@media (max-width: 940px) {
  .container {
    .content {
      .cards {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (max-width: 720px) {
  .container {
    .content {
      .cards {
        grid-template-columns: 1fr;
      }
    }
  }
}
