.container {
  background-color: var(--gray-700);

  .content {
    max-width: 1234px;
    margin: 0 auto;
    padding: 6.5625rem 2rem;
    text-align: center;

    form {
      label {
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        margin-bottom: 1rem;

        &:hover {
          cursor: pointer;
        }
      }

      input {
        max-width: 43.4375rem;
        width: 100%;
        padding: 1.2rem 1.625rem;
        margin-right: 1.875rem;
        border-radius: 0.6rem;
        border: 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--gray-700);
        outline: none;
        transition: 0.2s;

        &::placeholder {
          font-weight: normal;
          color: #696969;
        }

        &:focus,
        &:hover {
          box-shadow: 0 0 0 0px var(--gray-300), 0 0 3px 4px var(--purple-500);
        }
      }

      button {
        font-size: 1.7rem;
        font-weight: bold;
        color: var(--gray-50);
        background-color: var(--purple-500);
        padding: 1rem 0 1rem;
        width: 17rem;
        border: 0;
        border-radius: 0.6rem;
        transition: 0.2s;

        &:disabled {
          cursor: not-allowed;
          background: #696969;
        }

        &:hover,
        &:focus {
          box-shadow: 0 0 0 4px var(--gray-300), 0 0 0 5px var(--purple-500);
        }
      }
    }
  }
}

@media (max-width: 1010px) {
  .container {
    .content {
      form {
        button {
          margin-top: 2rem;
        }
      }
    }
  }
}
