.container {
  padding-top: 5rem;

  background-color: var(--gray-700);
  background-image: url('/assets/yuri.png');
  background-repeat: no-repeat;
  background-position: bottom;

  .content {
    max-width: 1234px;
    margin: 0 auto;
    padding: 2rem 2rem;

    h1 {
      font-size: 2rem;
      display: flex;
      align-items: center;

      svg {
        margin-right: 1rem;
        stroke-width: 0.15rem;
        stroke: var(--purple-500);
        width: 42px;
        height: 42px;
      }
    }

    p {
      max-width: 42rem;
      font-size: 1.125rem;
      margin-top: 3.75rem;
      padding-bottom: 8.75rem;
      text-align: justify;
    }
  }
}

@media (max-width: 1080px) {
  .container {
    padding-bottom: 20rem;
    background-image: url('/assets/yuri-mobile.png');
    background-position: left bottom;
  }
}
