.container {
  padding-top: 7rem;

  background-color: var(--gray-700);
  background-image: url('/assets/yuri.png');
  background-repeat: no-repeat;
  background-position: bottom;

  .content {
    max-width: 1170px;
    margin: 0 auto;

    h1 {
      font-size: 2rem;
    }

    p {
      max-width: 42rem;
      font-size: 1.5rem;
      margin-top: 3.75rem;
      padding-bottom: 8.75rem;
      text-align: justify;
    }
  }
}
